///////////////////////*/
/*GLOBALS GLOBALS GLOBALS*/
/*///////////////////////*/
@keyframes fade {
	from {opacity: 1;}
	to {opacity: 0;}
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	background: linear-gradient(0deg, #272822, #272822);
}

@-webkit-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes Gradient { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

::selection {
  background: #E19614; /* WebKit/Blink Browsers */
  /*color: white*/;
}

::-moz-selection {
  background: #E19614; /* Gecko Browsers */
  /*color: white;*/
}

a {
	color:inherit;
	text-decoration: none;
}

a:hover {
	background-color: #4D4D4D;
}

.clickable:hover {
	background-color: #4D4D4D;
	cursor: pointer;
}

/*/////////////////////////////*/
/*BOOTSTRAP BOOTSTRAP BOOTSTRAP*/
/*/////////////////////////////*/
.container-fluid {
	height: 100%;
}

#container-override {
	padding-left: 0px;
	padding-right: 0px;
}

.row-fluid {
	height: 100%;
	z-index: -1;
}

#portrait-col {
	background-image: url(images/im_grey.png);

	text-align: center;
	z-index: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	border-right: 2px solid #75715E;

	/*FOR SHADING:*/
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.3);
	box-shadow: inset 0 0 100px rgba(0,0,0,.3);
}

#col-9 {
	/* Initialization */
	opacity: 0;
	left: 10%;

	/* Regular */
	z-index: 50;
	height: 100%;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	/*justify-content: center;*/

	/*FOR SHADING:*/
	/*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.3);*/
	/*box-shadow: inset 0 0 100px rgba(0,0,0,.3);*/
}

.bio-wrapper-center {
	padding: 0;
	margin: 0;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	overflow-x: hidden;

	position: relative;
}

.bio-wrapper-center-about-header {
	padding: 0;
	margin: 0;

	top: 0;
	left: 0;

	/*width: 100%;*/
	/*height: 100%;*/
	overflow-x: hidden;
}

.bio-wrapper-center-about-body {
	background: rgba(30, 30, 30, 0.8);
	border-radius: 10px;

	padding-top: 1%;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;

	top: 0;
	left: 0;

	width: 75%;
	margin: 0 auto;
	height: auto;
	overflow-x: hidden;	

	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.bio-wrapper-center-about-body-inner {
	padding: 0;

	top: 0;
	left: 0;

	width: 95%;
	margin: 0 auto;
	height: auto;
	overflow-x: hidden;	
}

.bio-wrapper-home {
	width: 100%;
	overflow-x: hidden;
}

.back-arrow {
	z-index: 20;
	padding: 0;
	margin: 0;
	position: absolute;
	text-align: center;
	opacity: 1;
	left: 0%;
}

#back-arrow-id {
	font-size: 2vw;
}

/*//////////////////////////*/
/*PICTURES PICTURES PICTURES*/
/*//////////////////////////*/
.front_door_image {
	background: url(images/im_kevin.png) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 99;

	position: absolute;
	width:100%;
	height:100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
	box-shadow: inset 0 0 100px rgba(0,0,0,1);
}

.portrait {
	border-radius: 50%;
	max-width: 99%;
	height: auto;
	width: auto;
}

.portrait-caption {
	color: white;
	font-size: 5vw;
	font-family: 'Amaranth', sans-serif;
}

.portrait:hover {
	cursor: pointer;
}

.portrait-caption-info {
	color: white;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
}

/*//////////////*/
/*BODY BODY BODY*/
/*//////////////*/
.the-code-header {
	font-size: 4vw;
	font-family: 'Roboto Slab', serif;
}

.the-code-comment {
	font-size: 1.5vw;
	font-family: 'Roboto Slab', serif;
}

.the-code-body {
	margin-top: -1.5%;
	font-size: 2vw;
	font-family: 'Roboto Slab', serif;
}

.the-code-priv-pub {
	font-size: 2vw;
	font-family: 'Roboto Slab', serif;
}

.text-header {
	font-size: 4.5vw;
	font-weight: bold;
	font-family: 'Roboto Slab', sans-serif;
}

.text-header-2 {
	font-size: 1.3vw;
	font-weight: bold;
	font-family: 'Roboto Slab', sans-serif;
}

.text-body {
	font-size: 1.1vw;
	font-family: 'Roboto Slab', sans-serif;
}

.text-body-subtext {
	font-size: .9vw;
	font-family: 'Roboto Slab', sans-serif;
}

.text-header-raleway {
	font-size: 4.5vw;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.text-header-raleway-2 {
	font-size: 1.3vw;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.text-body-raleway {
	font-size: 1.1vw;
	font-family: 'Raleway', sans-serif;
}

.experience-subtext {
	line-height: 20px;
	padding-right: 5%;
}

.text-body-raleway-subtext {
	font-size: .9vw;
	font-family: 'Raleway', sans-serif;
}

.code-header {
	font-family: 'Fira Mono', monospace;
	font-size: 4vw;
}

.code-quad {
	font-family: 'Fira Mono', monospace;
	font-size: 3vw;
}

.text-body-fira {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.2vw;
}

.text-btn-fira {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.5vw;
}

.text-handwriting {
	font-family: "Indie Flower", cursive;
	font-size: 1.8vw;
}

/*////////////////////*/
/*COLORS COLORS COLORS*/
/*////////////////////*/
.white {
	color: white;
}

.white::selection {
	color: #191919;
}

.green {
	color: #A6E22E;
}

.green-text {
	color: #B3E74B;
}

.green::selection {
	color: #ADFF2F;
}

.cyan {
	color: #66D9EF;
}

.cyan-text {
	color: #75DCF0;
}

.cyan::selection {
	color: #00FFFF;
}

.pink {
	color: #F92672;
}

.pink-text {
	color: #FB518F;
}

.pink::selection {
	color: #FF28B4;
}

.grey {
	color: #75715E;
}

.grey-text-kl {
	color: #c6c4b8;
}

.grey::selection {
	color: white;
}

.orange {
	color: #FD971F;
}

.orange-text {
	color: #FDA035;
}

.orange::selection {
	color: #FF6401;
}

.black {
	color: black;
}

.grey-text {
	color: #bfbfbf;
}

/*////////////////////*/
/*OTHERS OTHERS OTHERS*/
/*////////////////////*/

.italic {
	font-style: italic;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.links-home {
	text-align: left;
	margin-left: 5%;
}

.left-pad-home {
	margin-left: 0%;
}

.thin-underline-orange {
	border-bottom: 5px solid #FD971F;
}

.word-wrap {
	word-wrap: break-word;
}

.border-bottom-orange {
	border-bottom: 2px solid #FD971F;
}

.border-bottom-cyan {
	border-bottom: 2px solid #66D9EF;
}

.border-bottom-green {
	border-bottom: 2px solid #A6E22E;
}

.border-bottom-pink {
	border-bottom: 2px solid #F92672;
}

.tab {
	margin-left: 5%;
}

.tab-2 {
	margin-left: 17%;
}

.margin-top-small {
	margin-top: -4%;
}

.margin-top-left-small {
	margin-top: -2%;
}

.justified {
	text-align: justify;
}

/*//////////////////*/
/*EXPERIENCE SECTION*/
/*//////////////////*/

.experience {
	margin-top: 2%;
	z-index: -50;
	height: 21%;
}

#experience-wrapper {
	height: 85%;
}

#experience-wt, #experience-mdp, #experience-ak, #experience-183 {
	z-index: 1;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-color: #0d0d0d;
}

#experience-wt {
	border: 0.5px solid #80b418;
}

#experience-mdp {
	border: 0.5px solid #16b1d0;
}

#experience-ak {
	border: 0.5px solid #e00656;
}

#experience-183 {
	border: 0.5px solid #e37a02;
}

#experience-wt:hover, #experience-mdp:hover, #experience-ak:hover, #experience-183:hover {
	cursor: pointer;
}

#experience-wt:after {
	content: ' ';
	background-image: url(images/wolverine-trading-opt.png);
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0.135;
}

#experience-mdp:after {
	content: ' ';
	background-image: url(images/MDA-opt.png);
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0.135;
}

#experience-ak:after {
	content: ' ';
	background-image: url(images/ak_steel-opt.png);
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0.135;
}

#experience-183:after {
	content: ' ';
	background-image: url(images/block_M-opt.png);
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0.135;
}

#experience-wt-text, #experience-mdp-text, #experience-ak-text, #experience-183-text {
	position: fixed;
	z-index: 100;
	white-space: nowrap;
}

.resume-left-container {
	height: auto;
}

/*//////////////*/
/* QUAD SECTION */
/*//////////////*/

.big_wrapper {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	position: relative;
}

.quad_wrapper {
	padding: 0;
	margin: 0;
	margin-top: 1%;
	width: 100%;
	height: 83%;
	overflow: hidden;
}

.quad {
	padding: 0;
	margin: .25%;
	width: 49.25%;
	height: 49.25%;
	overflow: hidden;
	float: left;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#q_about:hover, #q_resume:hover, #q_contact:hover, #q_other:hover {
	cursor: pointer;
}

#q_about, #q_resume, #q_contact, #q_other {
	opacity: 1;
	border: 2px solid black;
	background: rgba(20, 20, 20, .6);
	position: relative;
}

.quad_tips {
	z-index: 20;
	pointer-events: none;
	position: absolute;
	text-align: center;
	opacity: 0;
}

#q_about_tip_1 {
	width: 18%;
	left: 2%;
	top: 20%;

	/* Tilting the text */
	-ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
    transform: rotate(-12deg);
}

#q_about_tip_2 {
	width: 40%;
	left: 5%;
	top: 42.5%;

	/* Tilting the text */
	-ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}

#q_about_tip_3 {
	width: 40%;
	left: 19%;
	top: 20%;

	/* Tilting the text */
	-ms-transform: rotate(18deg); /* IE 9 */
    -webkit-transform: rotate(18deg); /* Chrome, Safari, Opera */
    transform: rotate(18deg);
}

#q_resume_pdf_tip {
	width: 16.5%;
	right: 3%;
	top: 19%;

	/* Tilting the text */
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

#q_resume_arrow_tip {
	width: 5%;
	height: 10%;
	right: 18%;
	top: 20%;

	/* Tilting the text */
	-ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
}

#q_resume_info_tip {
	width: 28%;
	right: 22%;
	top: 40%;

	/* Tilting the text */
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

#pdf:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* Boostrap */
.form-kl {
	background-color: black; border: 1px solid #1c1b17;
}